*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(39, 31, 31);
}
img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}
/*  */
.list span{
    font-size: 1.3rem;
}
.bg-dear{
    background-color: rgb(233, 233, 230);
}
.information{
    background-color: #FFFFFF;
}
.bg-list{
    background-color: rgb(244, 249, 255);
    width: 100%;
}
.text-list{
    font-size: 1.8rem;
}
/* footer */
.footer {
    background-color: rgb(88, 88, 88);
    color: rgb(253, 253, 253);
    font-size: 1.2rem;
}
/*  */
.submit{
    background-color: rgb(41, 103, 179);
}